<% @user ||= User.new %>

<h1>Welcome to the Hintz Family Catalog!</h1>

<form action="<%= session_url %>" method="post">
	<h2>Log In</h2>
	<p class="description">If you've been here before</p>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label> Username/Email <br>
		<input type="text" name="session[identification]">
	</label>

	<label> Password <br>
		<input type="password" name="session[password]">
	</label>
	<button type="submit">Log In</button>
</form>
<br>
<br>

<form action="<%= users_url %>" method="post">
	<h2>Sign Up</h2>
	<p class="description">If you're new to the site</p>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label> Username <br>
		<input type="text" name="user[username]" value="<%= @user.username %>">
	</label>

	<label> Email <br>
		<input type="text" name="user[email]" value="<%= @user.email %>">
	</label>

	<label> Password <br>
		<input type="password" name="user[password]">
	</label>
	<button type="submit">Sign Up</button>
</form>