<div class="index-tile">
	<a href="/items/<%= item.id %>">
		<% if item.pictures.empty? %>
			<div class="pic-spot no-pic"></div>
		<% else %>
			<div class="pic-spot"><%= image_tag item.pictures.first.image.url(:medium) %></div>
		<% end %>
		<div class="item-title"><%= item.title %></div>
	</a>
	<div class="keywords">
		<% item.keywords.each do |kw| %>
			<span class="index-tile-kw"><%= kw.word %></span>
		<% end %>
	</div>
	<% if logged_in? %>
		<% user_interest = current_user_interest_level(item) %>
		<div class="interest-level-buttons" data-item-id="<%= item.id %>" data-initial-interest="<%= user_interest %>">
			<button type="button" class="interest-level-button interested-button" title="I'm interested">✓</button>
			<button type="button" class="interest-level-button neutral-button" title="I'm neutral">O</button>
			<button type="button" class="interest-level-button not-interested-button" title="I'm not interested">✗</button>
		</div>
	<% end %>
</div>