<div class="index-tile">
	<a href="/items/<%= item.id %>">
		<% if item.pictures.empty? %>
			<div class="pic-spot no-pic"></div>
		<% else %>
			<div class="pic-spot"><%= image_tag item.pictures.first.image.url(:medium) %></div>
		<% end %>
	</a>
	<% if logged_in? %>
		<%= render partial: "interest_level_buttons", locals: {item: item} %>
	<% end %>
	<a href="/items/<%= item.id %>"><div class="item-title"><%= item.title %></div></a>
	<div class="keywords">
		<% item.keywords.each do |kw| %>
			<span class="kw index-tile-kw"><%= kw.word %></span>
		<% end %>
	</div>
	
</div>