<h1> <%= @item.title %> </h1>

<% if logged_in? %>
	<div class="display-all-interests clearfix">
		<%= render partial: "interest_level_buttons", locals: {item: @item} %>
		<div class="interested-so-far"> <%= interested_users(@item) %> </div>
	</div><br>
	
<% end %>

<div class="pic-slideshow">
	<% if @item.pictures.empty? %>
		<div style="padding: 10px">This item has no pictures.</div>
	<% else %>
		<% @item.pictures.each do |pic| %>
			<%= image_tag pic.image.url(:large) %>
		<% end %>
	<% end %>
</div>

<div class="keywords">
	<% @item.keywords.each do |kw| %>
		<span class="kw show-kw"> <%= kw.word %> </span>
	<% end %>
</div>
<br><br><br>

<% if current_user && current_user.admin %>
	<br>
	<div class="admin-panel">
		<%= link_to "Edit this item", edit_item_url(@item) %><br>
		<a href="#">Future soft delete button</a>
	</div>
<% end %>

<% if logged_in? %>
	<script type="text/javascript">
		$(setupInterestLevelButtons);
	</script>
<% end %>