<h1> <%= @item.title %> </h1>

<% if logged_in? %>
	<div class="all-interests">
		<div class="interested_so_far"> <%= interested_users(@item) %> </div>
	</div><br>
	
	<%= render partial: "interest_level_buttons", locals: {item: @item} %>
<% end %>

<div class="pic-slideshow">
	<% if @item.pictures.empty? %>
		<div style="padding: 10px">This item has no pictures.</div>
	<% else %>
		<% @item.pictures.each do |pic| %>
			<%= image_tag pic.image.url(:large) %>
		<% end %>
	<% end %>
</div>

<% @item.keywords.each do |kw| %>
	<div> <%= kw.word %> </div>
<% end %>

<% if current_user && current_user.admin %>
	<br>
	<div class="admin-panel">
		<%= link_to "Edit this item", edit_item_url(@item) %><br>
		<a href="#">Future soft delete button</a>
	</div>
<% end %>

<% if logged_in? %>
	<script type="text/javascript">
		$(setupInterestLevelButtons);
	</script>
<% end %>