<!DOCTYPE html>
<html>
<head>
  <title>HintzFamilyPictures</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if logged_in? %>
		<%= render "layouts/logged_in_header" %>
	<% elsif params[:controller] == "items" %>
		<%= render "layouts/logged_out_header" %>
	<% end %>

	<div class="content">
		<%= yield %>
	</div>

	<%= render "layouts/footer" %>
</body>
</html>
